body {
	font-family: Arial, San-Serif;
	font-size: 100%;
}
ul {
	padding: 10px 0;
	min-height: 34px;
}

h1, p{
    text-align: center;
}


a {
    text-decoration: none;
    text-align: center;
}
p {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	line-height: 1.3em;
	color: rgb(107, 107, 107);
}

h1{
	font-family: 'Quicksand', sans-serif;
	line-height: 1.3em;
}

.container {
    margin: 0 auto;
    margin-left: 20em;
	width: 960px;
}

header {
	display: inline-flexbox;
	min-height: 64px;
	position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
	right: 0;
	height: 34px;
	box-shadow: 0 0 10px rgba(170, 125, 125, 0.5);
	padding: 10px 0;
	background-color: rgb(255, 255, 255);
}

header ul{
	padding: 0;
}

header li {
    list-style-type: none;
    display: inline;
	margin: 0.5em;
	
}

header h5{
	padding-left: 2em;
	font-weight: normal;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	line-height: 1.3em;
	color: rgb(107, 107, 107);
}

header a {
	width: 100px;
	color: black;
}

header button{
	padding: 0.7em;
	border: 0.01em solid transparent;
	border-radius: 5px;
	background-color: white;
	color: blue;
	border: 1px solid rgb(33, 110, 197);
	
}
header button:hover {
	background-color: blue;
	color: white;
}

#name{
    float: left;
}

#main_links{
    float: right;
}


.container{
	width: 80em;
}

.info{
	padding-top: 5em;
    margin-left: 25em;
	width: 50em;
	text-align: center;
}

.info h1{
	font-weight: normal;
	font-size: 45px;
}

.collection-title {
	height: 2em;
    text-align: center;
	/* border-bottom: 1px solid #777; */
	font-size: 36px;
	width: 100%;
	background-color: rgb(233, 230, 230);
	border: 1px solid rgb(233, 230, 230);
}

.collection-title p{
	font-size: 20px;
	color: black;
}

.collection-item-outer {
	display: inline-block;
	float: left;
	margin: 2em;
	width: 20%;
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(170, 125, 125, 0.5);
	border-radius: 5px;
	border: 0.01em solid transparent;
}

.collection-item{
	margin: 1em;
}

.collection-item ul{
    text-align: center;
    list-style-type: none;
}

.collection-item button{
	width: 100%;
    padding: 1em;
	margin: auto; 
	border: 0.01em solid transparent;
	border-radius: 5px;
	background-color: blue;
	color: white;
}

.collection-item button:hover {
	background-color: white;
	color: blue;
	border: 1px solid rgb(33, 110, 197);
}


footer{
	padding-top: 3em;
	margin: 2em;
	/* margin-left: 25em; */
	margin-left: 0;
	display: inline-block;
	width: 75%;
}

.foot-item{
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
	width: 24%;
	box-sizing: border-box;
	vertical-align: top;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}
.foot-item ul{
	list-style-type: none;
}

.foot-item ul li a{
	color:	rgb(107, 107, 107)
}

.collection-item small{
	color: rgb(163, 161, 161);
	font-weight: normal;
}

#corypright{
	padding-left: 0;
	padding-top: 4em;
}